body {
    background-color: #F5F7FB;
    margin: 0;
    font-family: Monocraft, Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

nav {
    font-size: 24px;
    background-color: #FFF;
    height: 80px;

    box-shadow: 0 0 16px 0 rgb(0, 0, 0, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    padding-left: 24px;
    padding-right: 24px;
}

.flex {
    display: flex;
}

.nav-menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-menu-item img {
    height: 60px;
}




.main-content {
    height: calc(100vh - 80px);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

    overflow-y: auto;
}

/*POKE CARDS*/
.poke-cards-small-container {
    margin-top: 120px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 96px;
}

.poke-card-small {
    box-shadow: 0 0 16px 0 rgb(0, 0, 0, 0.2);
    height: 160px;
    width: 240px;
    background-color: #FFF;
    padding: 16px;

    border-radius: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-card-small:hover {
    <!-- TODO remove the scaling and adjust the responsiveness accordingly -->
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
}

.poke-card-small img {
    height: 200px;
    margin-top: -104px;
}

.poke-card-small-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.types-container {
    display: flex;
    gap: 20px;
}

.types-container div {
    padding: 12px 16px;
    border-radius: 10px;

    text-align: center;
}

.poke-id {
    color: #95959d;
}

.poke-card-small-pokemon-name {
    font-size: 18px;
}


/* POKE CARD BIG*/

.poke-card-big-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
    height: calc(100vh - 80px);
}

.poke-card-big {
    height: 94%;
    width: 80%;
    margin-bottom: 10px;

    border-radius: 32px;
    background-color: #FFF;
    box-shadow: 0 0 16px 0 rgb(0, 0, 0, 0.2);

}

.poke-card-big-poke-info {
    scale: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.poke-card-big-poke-info > img {
    margin-top: -80px;
    height: 180px;
}

.poke-info-container {
    margin-bottom: 16px;
}

.poke-info-container > div {
    margin-top: 16px;
    text-align: center;
}

.info-heading {
    padding-bottom: 8px;
}

.abilities-container {
    display: flex;
    gap: 16px;
}

.poke-info-div {
    text-align: center;
    background-color: #e4e4ea;
    padding: 8px 0;
    width: 160px;
    border-radius: 24px;
    border :1px solid blue;
}

.poke-info-box {
    display: flex;
    gap: 16px;
}

.stats-container {
    display: flex;
    gap: 16px;
}

.evolution-container {
    display: flex;
    align-items: center;
    gap: 16px;
}