body {
    background-color: #F5F7FB;
    margin: 0;
    font-family: Verdana, Tahoma, Monocraft, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

nav {
    background-color: #FFF;
    height: 80px;

    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    padding-left: 24px;
    padding-right: 24px;
}

.nav-menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-menu-item img {
    height: 60px;
}




/*POKE CARDS*/
.poke-cards-small-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.poke-card-small {
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
    height: 250px;
    width: 400px;
    background-color: #FFF;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-card-small img {
    height: 200px;
}

.poke-card-small .types-container {
    display: flex;
    gap: 20px;
}

.poke-card-small .types-container div {
    padding: 16px;
    border-radius: 10px;
    width: 100px;

    text-align: center;
}